src/wadl/networksnova.wadl

<?xml version="1.0" encoding="UTF-8"?>
 <!-- (C) 2011-2013 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!-- Import Common XML Entities -->
<!-- You can resolve the entites with xmllint -->
<!-- xmllint -noent networks.wadl -->
<!--*******************************************************-->
<!DOCTYPE application [<!ENTITY % common SYSTEM "../common/common.ent">
%common;
]>
<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:capi="http://docs.openstack.org/common/api/v1.0" xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0" xmlns:xlink="http://www.w3.org/1999/xlink"
    xsi:schemaLocation="http://docs.openstack.org/identity/api/v3.0 ../common/xsd/api.xsd
    http://docs.openstack.org/common/api/v1.0 ../common/xsd/api-common.xsd
    http://wadl.dev.java.net/2009/02 http://www.w3.org/Submission/wadl/wadl.xsd
    ">
    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->
    <!-- We should use SSL in production -->
    <resources base="http://localhost:35357" xml:id="networksnova-v2.0">
        <!-- FYI: double slash needed in path to get a single slash to display -->
        <resource id="networksnova" path="os-networksv2">
            <method href="#listNetworks"/>
            <method href="#createNetworks"/>
            <resource id="networkID" path="{id}">
                <param name="id" style="template" type="UUID">
                    <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" title="Image ID">
                        <p>The network ID.</p>
                    </wadl:doc>
                </param>
                <method href="#showNetwork"/>
                <method href="#deleteNetwork"/>
            </resource>
        </resource>
        <resource id="serversnova" path="//servers">
            <method href="#attachNetworks"/>
            <resource id="interfaces" path="{instance_id}/os-virtual-interfacesv2">
                <param name="instance_id" style="template" type="UUID">
                    <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" title="Instance ID">
                        <p>The instance ID.</p>
                    </wadl:doc>
                </param>
                <method href="#listInterfaces"/>
                <method href="#createInterface"/>
                <resource id="interfaceID" path="{interface_id}">
                    <param name="interface_id" style="template" type="UUID">
                        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" title="Instance ID">
                            <p>The interface ID.</p>
                        </wadl:doc>
                    </param>
                    <method href="#deleteInterface"/>
                </resource>
            </resource>
        </resource>
    </resources>

    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->

    <!--Nova Networks Operations-->

    <!-- List Networks -->
    <method name="GET" id="listNetworks">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List Networks">
            <para role="shortdesc">Lists the networks configured for the specified tenant ID.</para>
            <para>This operation lists the networks configured for the tenant ID specified in the request URI.</para>
            <note>
                <para>To list the networks that are associated with servers, see
                    <link xlink:href="http://docs.rackspace.com/servers/api/v2/cs-devguide/content/List_Servers-d1e2078.html">List Servers</link>
                    in the <citetitle>Next Generation Cloud Servers Developer Guide</citetitle>.</para>
            </note>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code href="../common/samples/networks.json"/>
                    </xsdxt:sample>
                </wadl:doc>
                <param name="id" style="plain" type="xsd:string" required="true" path="$.parameters.id">
                    <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" title="id">
                        <p>The network ID.</p>
                    </wadl:doc>
                </param>
                <param name="label" style="plain" type="xsd:string" required="true" path="$.parameters.label">
                    <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" title="id">
                        <p>The name of the network. ServiceNet is labeled as private and PublicNet is labeled as public in
                            the network list.</p>
                    </wadl:doc>
                </param>
                <param name="cidr" style="plain" type="xsd:string" required="true" path="$.parameters.cidr">
                    <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" title="id">
                        <p>The CIDR for an isolated network.</p>
                    </wadl:doc>
                </param>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code href="../common/samples/networks.xml"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response> &fault401; &fault403; </method>

    <!-- Create Networks -->
    <method name="POST" id="createNetworks">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Create Networks">
            <para role="shortdesc">Creates a network for the specified tenant ID.</para>
            <para>This operation creates a network for the tenant ID specified in the request URI.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code href="../common/samples/create_network_req.json"/>
                    </xsdxt:sample>
                </wadl:doc>
                <param name="cidr" style="plain" type="capi:UUID" required="true" path="$.parameters.cidr">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>The IP block from which to allocate the network. For example, <emphasis role="bold"
                                >172.16.0.0/24</emphasis> or <emphasis role="bold">2001:DB8::/64</emphasis>. For more
                            information about CIDR notation, see
                            <link xlink:href="http://www.rackspace.com/knowledge_center/article/using-cidr-notation"><citetitle>
                                Using CIDR Notation in CLoud Networks</citetitle></link>
                            in the KNowledge Center.</para>
                    </wadl:doc>
                </param>
                <param name="label" style="plain" type="capi:UUID" required="true" path="$.parameters.label">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>The name of the new network. For example, <emphasis role="bold"
                            >my_new_network</emphasis>.</para>
                    </wadl:doc>
                </param>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code href="../common/samples/create_network_req.xml"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code href="../common/samples/create_network_resp.json"/>
                    </xsdxt:sample>
                </wadl:doc>
                <param name="id" style="plain" type="xsd:string" path="$.parameters.id">
                    <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" title="id">
                        <p>The network ID.</p>
                    </wadl:doc>
                </param>
                <param name="label" style="plain" type="xsd:string" path="$.parameters.label">
                    <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" title="id">
                        <p>The name of the new network.</p>
                    </wadl:doc>
                </param>
                <param name="cidr" style="plain" type="xsd:string" path="$.parameters.cidr">
                    <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" title="id">
                        <p>The IP block from which the network was allocated.</p>
                    </wadl:doc>
                </param>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code href="../common/samples/create_network_resp.xml"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>&fault400;&fault401;&fault403; </method>

    <!-- Provision Server and Attach Networks -->
    <method name="POST" id="attachNetworks">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Provision Servers and Attach Networks">
            <para role="shortdesc">Provisions a new server with specified networks.</para>
            <para>This operation asynchronously provisions a new server. For complete information about this API operation,
                see
                <link xlink:href="http://docs.rackspace.com/servers/api/v2/cs-devguide/content/CreateServers.html">Create Server</link>
                in the <citetitle>Next Generation Cloud Servers Developer Guide</citetitle>.</para>
            <para>You must specify the networks that you want to attach to your server. If you do not specify any networks,
                ServiceNet and PublicNet are attached by default. For information about the Rackspace networks, see
                <link xlink:href="http://docs.rackspace.com/servers/api/v2/cn-gettingstarted/content/networks.html">
                    Isolated Networks and Rackspace Networks</link>.</para>
            <para>You can optionally provision the server instance with specified isolated networks. However, if you specify
                an isolated network, you must explicitly specify the UUIDs for PublicNet and ServiceNet to attach these
                networks to your server. The UUID for ServiceNet is <literal xmlns:svg="http://www.w3.org/2000/svg"
                    xmlns:m="http://www.w3.org/1998/Math/MathML" xmlns:html="http://www.w3.org/1999/xhtml"
                    >11111111-1111-1111-1111-111111111111</literal>, and the UUID for PublicNet is <literal
                    xmlns:svg="http://www.w3.org/2000/svg" xmlns:m="http://www.w3.org/1998/Math/MathML"
                    xmlns:html="http://www.w3.org/1999/xhtml">00000000-0000-0000-0000-000000000000</literal>. Omit these
                UUIDs from the request to detach from these networks.</para>
            <warning>
                <para>RackConnect and Managed Cloud Service Level customers receive an error if they opt out of attaching to
                    PublicNet or ServiceNet.</para>
            </warning>
            <para>To attach a network to an existing server, you must create a virtual interface. See
                <xref linkend="POST_createInterface__servers__instance_id__os-virtual-interfacesv2_section_virt_ext"/>.</para>
            <note>
                <para>To list the networks that are associated with servers, see
                    <link xlink:href="http://docs.rackspace.com/servers/api/v2/cs-devguide/content/List_Servers-d1e2078.html">List Servers</link>
                    in the <citetitle>Next Generation Cloud Servers Developer Guide</citetitle>.</para>
            </note>
            <para>The following table shows the status transition as the operation executes:</para>
            <informaltable rules="all" width="100%">
                <tbody>
                    <tr>
                        <td colspan="1">Status Transition:</td>
                        <td colspan="3">
                            <code>BUILD</code> &ARROW; <code>ACTIVE</code>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="1"/>
                        <td colspan="3">
                            <code>BUILD</code> &ARROW; <code>ERROR</code> (on error) </td>
                    </tr>
                </tbody>
            </informaltable>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code href="../common/samples/server-post-req.json"/>
                    </xsdxt:sample>
                </wadl:doc>
                <param name="name" style="plain" type="string" required="true" path="$.parameters.name">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>The server name.</para>
                    </wadl:doc>
                </param>
                <param name="imageRef" style="plain" type="string" required="true" path="$.parameters.imageRef">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>The image reference (either an ID or a full URL).</para>
                    </wadl:doc>
                </param>
                <param name="flavorRef" style="plain" type="string" required="true" path="$.parameters.flavorRef">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>The flavor reference (either an ID or a full URL).</para>
                    </wadl:doc>
                </param>
                <param name="config_drive" style="plain" type="bool" required="false" path="$.parameters.config_drive">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>Is config_drive enabled (either <literal>true</literal> or <literal>false</literal>).</para>
                    </wadl:doc>
                </param>
                <param name="key_name" style="plain" type="string" required="false" path="$.parameters.key_name">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>The name of the key pair.</para>
                    </wadl:doc>
                </param>
                <param name="networks" style="plain" type="array" required="true" path="$.parameters.networks">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>Contains network uuids.</para>
                    </wadl:doc>
                </param>
                <param name="uuid" style="plain" type="UUID" required="false" path="$.parameters.networks.uuid">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>By default, the server instance is provisioned with all Rackspace networks and isolated
                            networks for the tenant. Optionally, to provision the server instance with a specific isolated
                            tenant network, specify the UUID of the network in the <emphasis role="bold">UUID</emphasis>
                            attribute. You can specify multiple UUIDs.</para>
                    </wadl:doc>
                </param>
                <param name="OS-DCF:diskConfig" style="plain" type="string" required="false"
                    path="$.parameters.OS-DCF:diskConfig">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>The disk configuration value, which is <literal
                                xmlns:raxm="http://docs.rackspace.com/api/metadata">AUTO</literal> or <literal
                                xmlns:raxm="http://docs.rackspace.com/api/metadata">MANUAL</literal>. See
                            <link xlink:href="http://docs.rackspace.com/servers/api/v2/cs-devguide/content/ch_extensions.html">Disk Configuration
                                   Extension</link>.</para>
                    </wadl:doc>
                </param>
                <param name="metadata" style="plain" type="meta" required="false" path="$.parameters.metadata">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>Metadata key and value pairs.</para>
                    </wadl:doc>
                </param>
                <param name="personality" style="plain" required="false" path="$.parameters.personality">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para> The container for personality file path and contents.</para>
                    </wadl:doc>
                </param>
                <param name="path" style="plain" type="string" required="false" path="$.parameters.personality.path">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para> The path for the personality file.</para>
                    </wadl:doc>
                </param>
                <param name="contents" style="plain" type="file" required="false" path="$.parameters.personality.contents">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para> The contents of the personality file.</para>
                    </wadl:doc>
                </param>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code href="../common/samples/server-post-req.xml"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code href="../common/samples/server-post-resp.json"/>
                    </xsdxt:sample>
                </wadl:doc>
                <param name="OS-DCF:diskConfig" style="plain" type="string" required="true"
                    path="$.parameters.OS-DCF:diskConfig">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>The disk configuration value, which is <literal
                                xmlns:raxm="http://docs.rackspace.com/api/metadata">AUTO</literal> or <literal
                                xmlns:raxm="http://docs.rackspace.com/api/metadata">MANUAL</literal>. See
                            <link xlink:href="http://docs.rackspace.com/servers/api/v2/cs-devguide/content/ch_extensions.html">Disk Configuration
                                   Extension</link>.</para>
                    </wadl:doc>
                </param>
                <param name="adminPass" style="plain" type="string" required="true" path="$.parameters.adminPass">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>The Admin password for the server.</para>
                    </wadl:doc>
                </param>
                <param name="id" style="plain" type="UUID" required="true" path="$.parameters.id">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>The ID for the server.</para>
                    </wadl:doc>
                </param>
                <param name="links" style="plain" type="array" required="true" path="$.parameters.links">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>The <parameter>bookmark</parameter> and <parameter>self</parameter> for the server. For more
                            information on links, see
                            <link xlink:href="http://docs.rackspace.com/servers/api/v2/cs-devguide/content/LinksReferences.html">Links and References</link>
                            in the <citetitle>Next Generation Cloud Servers Developer Guide</citetitle>.</para>
                    </wadl:doc>
                </param>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code href="../common/samples/server-post-resp.xml"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>&fault400;&fault401;&fault403;&fault404;&fault405;&fault413;&fault415;&fault500;&fault503; </method>

    <!-- Show Network -->
    <method name="GET" id="showNetwork">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Show Network">
            <para role="shortdesc">Shows information for the specified network.</para>
            <para>This operation shows information for the network specified in the request URI.</para>
            <note>
                <para>To list the networks that are associated with servers, see
                    <link xlink:href="http://docs.rackspace.com/servers/api/v2/cs-devguide/content/List_Servers-d1e2078.html">List Servers</link>
                    in the <citetitle>Next Generation Cloud Servers Developer Guide</citetitle>.</para>
            </note>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code href="../common/samples/network.json"/>
                    </xsdxt:sample>
                </wadl:doc>
                <param name="id" style="plain" type="xsd:string" path="$.parameters.id">
                    <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" title="id">
                        <p>The network ID.</p>
                    </wadl:doc>
                </param>
                <param name="label" style="plain" type="xsd:string" path="$.parameters.label">
                    <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" title="id">
                        <p>The name of the network.</p>
                    </wadl:doc>
                </param>
                <param name="cidr" style="plain" type="xsd:string" path="$.parameters.cidr">
                    <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" title="id">
                        <p>The CIDR for an isolated network.</p>
                    </wadl:doc>
                </param>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code href="../common/samples/network.xml"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>&fault401;&fault403;&fault420; </method>

    <!-- Delete Network -->
    <method name="DELETE" id="deleteNetwork">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Delete Network">
            <para role="shortdesc">Deletes the specified network.</para>
            <para>This operation deletes the network specified in the request URI.</para>
            <note>
                <para>You can delete an isolated network only if it is not attached to any server. To detach a network from a
                    server, delete the virtual interface for the network from the server instance. See
                    <xref linkend="DELETE_deleteInterface__servers__instance_id__os-virtual-interfacesv2__interface_id__section_virt_ext"/>.</para>
            </note>
        </wadl:doc>
        <response status="202"/>&fault400;&fault401;&fault403;&fault404; </method>

    <!--Nova Virtual Interfaces Operations-->

    <!-- List Virtual Interface -->
    <method name="GET" id="listInterfaces">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List Virtual Interfaces">
            <para role="shortdesc">Lists the virtual interfaces configured for a server instance. </para>
            <para>This operation lists the virtual interfaces configured for a server instance.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code href="../common/samples/virtual_interfaces.json"/>
                    </xsdxt:sample>
                </wadl:doc>&virtualInterfaceParameters;
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code href="../common/samples/virtual_interfaces.xml"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>&fault401;&fault403; </method>

    <!-- Create Virtual Interface -->
    <method name="POST" id="createInterface">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Create Virtual Interface">
            <para role="shortdesc">Creates a virtual interface for a network and attaches the network to a server
                instance.</para>
            <para>This operation creates a virtual interface for a network and attaches the network to a server
                instance.</para>
            <note>
                <para>You can create a maximum of one virtual interface per instance per network.</para>
            </note>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code href="../common/samples/create_virtual_interface_req.json"/>
                    </xsdxt:sample>
                </wadl:doc>
                <param name="network_id" style="plain" type="xsd:UUID" required="true" path="$.parameters.network_id">
                    <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" title="network_id">
                        <p>The ID of the network for which you want to create a virtual interface. You can create a virtual
                            interface for an isolated network or for the Rackspace networks.</p>
                    </wadl:doc>
                </param>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code href="../common/samples/create_virtual_interface_req.xml"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code href="../common/samples/create_virtual_interface_resp.json"/>
                    </xsdxt:sample>
                </wadl:doc>&virtualInterfaceParameters;
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code href="../common/samples/create_virtual_interface_resp.xml"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>&fault400;&fault401;&fault403; </method>

    <!-- Delete Virtual Interface -->
    <method name="DELETE" id="deleteInterface">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Delete Virtual Interface">
            <para role="shortdesc">Deletes a virtual interface from a server instance.</para>
            <para>This operation deletes the specified virtual interface from the specified server instance.</para>
            <para>To find the ID of a virtual interface, issue the List Virtual Interfaces API operation. See
                <xref linkend="GET_listInterfaces__servers__instance_id__os-virtual-interfacesv2_section_virt_ext"/>.</para>
        </wadl:doc>
        <response status="200"/>&fault400;&fault401;&fault403;&fault404; </method>

</application>
