src/wadl/ports.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2013-2014 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entites with xmllint          -->
<!--                                                       -->
<!--        xmllint -noent os-ports.wadl                   -->
<!--*******************************************************-->
<!DOCTYPE application [<!ENTITY % common  SYSTEM "../common/common.ent">
%common;]>
<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:linkend="http://www.w3.org/1999/linkend" xmlns:xref="http://www.w3.org/1999/xref"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wadl="http://wadl.dev.java.net/2009/02" xmlns:csapi="http://docs.openstack.org/compute/api/v1.1">
    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->
    <resources base="https://neutron.example.com/" xml:id="os-ports-v2.0">
        <resource id="version" path="v2.0/">
            <resource id="Ports" path="ports">
                <method href="#listPorts"/>
                <method href="#createPort"/>
                <method href="#bulkCreatePorts"/>
                <resource id="portID" path="{port_id}">
                    <param name="port_id" style="template" type="csapi:UUID">
                        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Port ID">The UUID for the
                            port.</wadl:doc>
                    </param>
                    <method href="#showPort"/>
                    <method href="#updatePort"/>
                    <method href="#removePort"/>
                </resource>
            </resource>
        </resource>
    </resources>
    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->

    <!-- List Ports -->
    <method name="GET" id="listPorts">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List Ports">
            <para role="shortdesc">Lists ports to which the tenant has access.</para>
            <para>Default policy settings for this operation return those subnets that are owned by the tenant who submits
                the request. You can control which attributes are returned by using the <parameter>fields</parameter> query
                parameter<!--, and you can specify
                how man results to return per page. For information, see
                <link xlink:href="http://docs.rackspace.com/networks/api/v2/cn-devguide/content/section_filtering.html">Filtering 
                    Requests</link>
                or
                <link xlink:href="http://docs.rackspace.com/networks/api/v2/cn-devguide/content/section_pagination.html">Pagination 
                    of Requests</link>
                in the <citetitle>Cloud Networks API Developer Guide</citetitle>-->.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../common/samples/ports-get-resp.json"/>
                </wadl:doc>&portListParameters; </representation>
            <!--<representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../common/samples/ports-get-resp.xml"/>
                </wadl:doc>
            </representation>-->
        </response>&fault401;</method>

    <!-- Create Port -->
    <method name="POST" id="createPort">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Create Port">
            <para role="shortdesc">Creates a port on a specified network.</para>
            <para>This operation creates a port on a specified network. You must specify the network where the port is to be
                created in the <parameter>network_id</parameter> parameter in the request body.</para>
            <para>When a port is created on a network that has both an IPv4 and an IPv6 subnet, the port gets an IPv4 address
                by default. In order to create a port with an IPv6 address instead, the IPv6 address needs to be passed via
                the <parameter>fixed_ips</parameter> attribute.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../common/samples/port-post-create-req.json"/>
                </wadl:doc>&portCreateParameters; </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../common/samples/port_create_or_update_resp.json"/>
                </wadl:doc>&portGetParameters; </representation>
            <!--<representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../common/samples/port_create_or_update_resp.xml"/>
                </wadl:doc>
            </representation>-->
        </response> &fault400; &fault401; &fault403; &fault404; &fault503macGeneration; &fault503; </method>

    <!-- Create Multiple Ports -->
    <method name="POST" id="bulkCreatePorts">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Bulk Create Ports">
            <para role="shortdesc">Creates multiple ports in a single request. Specify a list of ports in the request
                body.</para>
            <para>This operation creates multiple ports with a single request.</para>
            <note><para>Bulk create operations are always atomic, meaning that either all or no ports in the request body are
                    created.</para></note>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../common/samples/ports-post-create-bulk-req.json"/>
                </wadl:doc>
                <!--&portBulkCreateParameters;-->
            </representation>
            <!--<representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../common/samples/ports-post-create-bulk-req.xml"/>
                </wadl:doc>
            </representation>-->
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../common/samples/ports-create-bulk-resp.json"/>
                </wadl:doc>&portListParameters; </representation>
            <!--<representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../common/samples/ports-create-bulk-resp.xml"/>
                </wadl:doc>
            </representation>-->
        </response> &fault400; &fault401; &fault403; &fault404; &fault409conflict; &fault503macGeneration; </method>

    <!-- Show Port -->
    <method name="GET" id="showPort">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Show Port">
            <para role="shortdesc">Shows information for a specified port.</para>
            <para>This operation displays the details for a specified port. You can control which attributes are returned by
                using the <parameter>fields</parameter> query parameter. For information, see
                <link xlink:href="http://docs.rackspace.com/networks/api/v2/cn-devguide/content/section_filtering.html">Filtering 
                    Requests</link>
                in the <citetitle>Cloud Networks API Developer Guide</citetitle>.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../common/samples/ports-get-1-resp.json"/>
                </wadl:doc>&portGetParameters; </representation>
            <!--<representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../common/samples/ports-get-resp.xml"/>
                </wadl:doc>
            </representation>-->
        </response> &fault401; &fault404; </method>

    <!-- Update Port -->
    <method name="PUT" id="updatePort">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Update Port">
            <para role="shortdesc">Updates a specified port.</para>
            <para>This operation updates a specified port. You can update information for a port, such as its symbolic name
                and associated IP addresses. When you update IP addresses for a port, any previously associated IPs are
                removed, returned to the appropriate subnet's allocation pools, and replaced by the IP addresses specified in
                the body of the update request. Therefore, this operation replaces the <parameter>fixed_ips</parameter>
                attribute when it is specified in the request body.</para>
            <warning>
                <para>If the updated IP addresses are not valid or are already in use, the operation fails and the existing
                    IP addresses are not removed from the port.</para>
            </warning>
            <warning><para>When the <parameter>fixed_ips</parameter> attribute of the port that is already attached to an active Cloud
                Server Instance is updated, the changes do not take effect on the server even though the attributes of the
                port are updated. Hence this operation will only be useful for ports that are not attached to any server.
                Once the port attributes are updated they can be passed to a Cloud Server instance at boot time.</para>
                <para>Security groups are not supported.</para></warning>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../common/samples/port-post-create-req.json"/>
                </wadl:doc>&portUpdateParameters; </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../common/samples/port_create_or_update_resp.json"/>
                </wadl:doc>&portGetParameters; </representation>
        </response> &fault400; &fault401; &fault403; &fault404; &fault409conflict; </method>

    <!-- Remove Port -->
    <method name="DELETE" id="removePort">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Delete Port">
            <para role="shortdesc">Deletes a specified port.</para>
            <para>This operation deletes the specified port. Any IP addresses that are associated with the port are returned
                to the appropriate subnet's allocation pools.</para>
        </wadl:doc>
        <response status="204">
            <representation mediaType="application/json"/>
        </response> &fault401; &fault404; &fault409conflict; </method>
</application>
