src/wadl/security-groups.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE application [<!ENTITY % common  SYSTEM "../common/common.ent">
%common;]>
<!-- (C) 2013-2014 OpenStack Foundation, All Rights Reserved -->
<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:csapi="http://www.w3.org/2001/XMLSchema" xmlns:secgr="http://docs.openstack.org/neutron/api/v2.0"
    xmlns:xlink="http://www.w3.org/1999/xlink">
    <!--    <grammars>
        <include href="xsd/secgr.xsd"/>
    </grammars>-->
    <resources base="https://neutron.example.com/" xml:id="security-groups-v2.0">
        <resource id="version" path="v2.0/">
            <resource id="SecGroups" path="security-groups">
                <method href="#listSecGroups"/>
                <method href="#createSecGroup"/>
                <resource id="securityGroupID" path="{security_group_id}">
                    <param name="security_group_id" style="template" type="csapi:UUID">
                        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">The unique identifier of the security
                            group.</wadl:doc>
                    </param>
                    <method href="#showSecGroup"/>
                    <method href="#deleteSecGroup"/>
                </resource>
            </resource>
            <resource id="SecGroupsRules" path="security-group-rules">
                <method href="#listSecGroupRules"/>
                <method href="#createSecGroupRule"/>
                <resource id="SecGroupRulesID" path="{rules-security-groups-id}">
                    <param name="rules-security-groups-id" style="template" type="csapi:UUID">
                        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">The unique identifier of the security
                            group rule.</wadl:doc>
                    </param>
                    <method href="#showSecGroupRule"/>
                    <method href="#deleteSecGroupRule"/>
                </resource>
            </resource>
            <!--<resource id="Servers" path="servers">
                <resource path="{server_id}" id="ServerID">
                    <param name="server_id" style="template" type="csapi:UUID">
                        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">The UUID of the instance.</wadl:doc>
                    </param>
                     <resource path="os-security-groups" id="serverSecGroups">
                        <method href="#listSecGroupsByServer"/>
                    </resource>
                </resource>
            </resource>-->
        </resource>
    </resources>

    <!-- List Security Groups -->
    <method name="GET" id="listSecGroups">
        <wadl:doc xml:lang="EN" title="List security groups" xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Retrieves a list of all security groups to which the specified tenant has access.</para>
            <!--<para>You can control which parameters are returned by using the <parameter>fields</parameter> query parameter,
                and you can specify how many results to return per page. For information, see
                <link xlink:href="http://docs.rackspace.com/networks/api/v2/cn-devguide/content/section_filtering.html">Filtering 
                    Requests</link></para>-->
        </wadl:doc>
        <response status="200">
            <doc title="Success">Request succeeded.</doc>
            <representation mediaType="application/json" element="csapi:network">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="../common/samples/security-groups-list-get-resp.json"/>
                </wadl:doc>&securityGroupListRspParameters;</representation>
        </response>&fault401; </method>

    <!-- Create Security Group -->
    <method name="POST" id="createSecGroup">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Create security group">
            <para role="shortdesc">Creates a security group.</para>
            <para>This operation creates a security group with default security group rules for the <code>IPv4</code> and
                    <code>IPv6</code> ether types.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="../common/samples/security-groups-create-req.json"/>
                </wadl:doc>&securityGroupCreateReqParameters; </representation>
        </request>
        <response status="201">
            <doc title="Success">Request succeeded.</doc>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="../common/samples/security-groups-create-resp.json"/>
                </wadl:doc>&securityGroupGetRspParameters;</representation>
        </response>&fault400; &fault401; </method>

    <!-- Show Security Group -->
    <method name="GET" id="showSecGroup">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Show security group">
            <para role="shortdesc">Retrieves information for a specified security group.</para>
            <para>This operation returns a response body that contains the description, name, security group ID, tenant ID,
                and security group rules associated with the specified security group.</para>
        </wadl:doc>
        <response status="200">
            <doc title="Success">Request succeeded.</doc>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="../common/samples/security-groups-get-resp.json"/>
                </wadl:doc>&securityGroupGetRspParameters;</representation>
        </response>&fault401;&fault404; </method>

    <!-- Delete Security Group -->
    <method name="DELETE" id="deleteSecGroup">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Delete security group">
            <para role="shortdesc">Deletes a security group.</para>
            <para>This operation deletes an OpenStack Networking security group and its associated security group rules. The
                delete operation fails if a port is associated with the security group. </para>
        </wadl:doc>
        <response status="204">
            <doc title="Success">Request succeeded.</doc>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="../common/samples/security-groups-delete-resp-json-http.txt"/>
                </wadl:doc>
            </representation>
        </response>&fault401;&fault404; </method>

    <!-- List Security Groups by Servers -->
    <!-- <method name="GET" id="listSecGroupsByServer">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="List security groups by server">
            <para role="shortdesc">Lists a summary of all OpenStack Networking security groups for a specified server.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="../common/samples/rules-security-groups-list-get-req.json"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="200"> &securityGroupRule; 
        <doc title="Success">Request succeeded.</doc>
        <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="../common/samples/rules-security-groups-list-get-resp.json"/>
                </wadl:doc>
            </representation>
        </response>
        <response status="401"
            xmlns="http://wadl.dev.java.net/2009/02">
            <doc title="Success">Request unauthorised.</doc>
            <representation mediaType="application/xml" element="secgr:unauthorized"/>
            <representation mediaType="application/json"/>
        </response>
    </method> -->

    <!-- List Security Group Rules -->
    <method name="GET" id="listSecGroupRules">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="List security group rules">
            <para role="shortdesc">Retrieves a list of all security group rules that the requester can access.</para>
            <para>This operation provides a list of security group rules for the requester with the unique ID for each
                security group rule.</para>
        </wadl:doc>
        <response status="200">
            <doc title="Success">Request succeeded.</doc>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="../common/samples/rules-security-groups-list-get-resp.json"/>
                </wadl:doc> &securityGroupRuleListRspParameters;</representation>
        </response>&fault401; </method>

    <!-- Create Security Group Rule -->
    <method name="POST" id="createSecGroupRule">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Create security group rule">
            <para role="shortdesc">Creates a security group rule.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="../common/samples/rules-security-groups-create-req.json"/>
                </wadl:doc>&securityGroupRuleCreateReqParameters; </representation>
        </request>
        <response status="201">
            <doc title="Success">Request succeeded.</doc>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="../common/samples/rules-security-groups-create-resp.json"/>
                </wadl:doc>&securityGroupRuleGetRspParameters;</representation>
        </response> &fault400;&fault401;&fault404;&fault409; </method>

    <!-- Show Security Group Rule -->
    <method name="GET" id="showSecGroupRule">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Show security group rule">
            <para role="shortdesc">Retrieves information about the specified security group rule.</para>
        </wadl:doc>
        <response status="200">
            <doc title="Success">Request succeeded.</doc>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="../common/samples/rules-security-groups-get-resp.json"/>
                </wadl:doc> &securityGroupRuleGetRspParameters; </representation>
        </response>&fault401;&fault404; </method>

    <!-- Delete Security Group Rule -->
    <method name="DELETE" id="deleteSecGroupRule">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Delete security group rule">
            <para role="shortdesc">Deletes the specified rule from a security group.</para>
        </wadl:doc>
        <response status="204">
            <doc title="Success">Request succeeded.</doc>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="../common/samples/rules-security-groups-delete-resp-json-http.txt"/>
                </wadl:doc>
            </representation>
        </response>&fault401;&fault404; </method>
</application>
