src/wadl/security-groups.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE application [<!ENTITY % common  SYSTEM "../common/common.ent">
%common;]>
<!-- (C) 2013-2014 OpenStack Foundation, All Rights Reserved -->
<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:csapi="http://www.w3.org/2001/XMLSchema" xmlns:secgr="http://docs.openstack.org/neutron/api/v2.0"
    xmlns:xlink="http://www.w3.org/1999/xlink">
    <!--    <grammars>
        <include href="xsd/secgr.xsd"/>
    </grammars>-->
    <resources base="https://neutron.example.com/" xml:id="security-groups-v2.0">
        <resource id="version" path="v2.0/">
            <resource id="SecGroups" path="security-groups">
                <method href="#listSecGroups"/>
                <method href="#createSecGroup"/>
                <resource id="securityGroupID" path="{security_group_id}">
                    <param name="security_group_id" style="template" type="csapi:UUID">
                        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">The unique identifier of the security
                            group.</wadl:doc>
                    </param>
                    <method href="#showSecGroup"/>
                    <method href="#deleteSecGroup"/>
                </resource>
            </resource>
            <resource id="SecGroupsRules" path="security-group-rules">
                <method href="#listSecGroupRules"/>
                <method href="#createSecGroupRule"/>
                <resource id="SecGroupRulesID" path="{rules-security-groups-id}">
                    <param name="rules-security-groups-id" style="template" type="csapi:UUID">
                        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">The unique identifier of the security
                            group rule.</wadl:doc>
                    </param>
                    <method href="#showSecGroupRule"/>
                    <method href="#deleteSecGroupRule"/>
                </resource>
            </resource>
            <!--            <resource id="Servers" path="servers">
                <resource path="{server_id}" id="ServerID">
                    <param name="server_id" style="template" type="csapi:UUID">
                        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">The UUID of the instance.</wadl:doc>
                    </param>
                     <resource path="os-security-groups" id="serverSecGroups">
                        <method href="#listSecGroupsByServer"/>
                    </resource>
                </resource>
            </resource>-->
        </resource>
    </resources>

    <!-- List Security Groups -->
    <method name="GET" id="listSecGroups">
        <wadl:doc xml:lang="EN" title="List Security Groups" xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Lists all Cloud Networks security groups to which the specified tenant has access.</para>
            <para>The operation shows the unique ID for each security group and the rules that are associated with each
                security group. You can control which parameters are returned by using the <parameter>fields</parameter>
                query parameter, and you can specify how many results to return per page. For information, see
                <link xlink:href="http://docs.rackspace.com/networks/api/v2/cn-devguide/content/section_filtering.html">Filtering 
                    Requests</link>
                or
                <link xlink:href="http://docs.rackspace.com/networks/api/v2/cn-devguide/content/section_pagination.html">Pagination 
                    of Requests</link>
                in the <citetitle>Cloud Networks API Developer Guide</citetitle>.</para>
        </wadl:doc>
        <!-- I commented this example out because it is not a request body -->
        <!--<request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"><xsdxt:code
                        href="../common/samples/security-groups-list-get-req.json"/></wadl:doc>
            </representation>
        </request>-->
        <response status="200">

            <representation mediaType="application/json" element="csapi:network">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="../common/samples/security-groups-list-get-resp.json"/>
                </wadl:doc>
                <param name="description" style="plain" type="xsd:string" required="true" path="$.description">
                    <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"><para>The security group
                            description.</para></wadl:doc>
                </param>
                <param name="id" style="plain" type="csapi:uuid" required="true" path="$.id">
                    <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"><para>The UUID for the security
                            group.</para></wadl:doc>
                </param>
                <param name="name" style="plain" type="xsd:string" required="true" path="$.name">
                    <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"><para>The security group
                        name.</para></wadl:doc>
                </param> &securityGroupRule; </representation>
        </response>&fault401; </method>

    <!-- Create Security Group -->
    <method name="POST" id="createSecGroup">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Create Security Group">
            <para role="shortdesc">Creates a Cloud Networks security group.</para>
            <para>This operation creates a security group with default security group rules for the <code>IPv4</code> and
                    <code>IPv6</code> ether types.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="../common/samples/security-groups-create-req.json"/>
                </wadl:doc>
                <param name="name" style="plain" type="xsd:string" required="true" path="$.name">
                    <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"><para>A symbolic name for the security
                            group. Not required to be unique.</para></wadl:doc>
                </param>
                <param name="description" style="plain" type="xsd:string" required="false" path="$.description">
                    <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"><para>Describes the security
                        group.</para></wadl:doc>
                </param>
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="../common/samples/security-groups-create-resp.json"/>
                </wadl:doc>
                <param name="security_group" style="plain" type="xsd:string" required="true" path="$.security_group">
                    <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"><para>The security group
                        object.</para></wadl:doc>
                </param>
                <param name="description" style="plain" type="xsd:string" required="true" path="$.description">
                    <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"><para>The security group
                            description.</para></wadl:doc>
                </param>
                <param name="id" style="plain" type="csapi:uuid" required="true" path="$.id">
                    <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"><para>The UUID for the security
                            group.</para></wadl:doc>
                </param>
                <param name="name" style="plain" type="xsd:string" required="true" path="$.name">
                    <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"><para>The security group
                        name.</para></wadl:doc>
                </param> &securityGroupRule; </representation>
        </response>&fault400; &fault401; </method>

    <!-- Show Security Group -->
    <method name="GET" id="showSecGroup">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Show Security Group">
            <para role="shortdesc">Shows information for a specified security group.</para>
            <para>This operation returns a response body that contains the description, name, ID, and security group rules
                associated with the specified security group and tenant ID. You can control which parameters are returned by
                using the <parameter>fields</parameter> query parameter, and you can specify how many results to return per
                page. For information, see
                <link xlink:href="http://docs.rackspace.com/networks/api/v2/cn-devguide/content/section_filtering.html">Filtering 
                    Requests</link>
                or
                <link xlink:href="http://docs.rackspace.com/networks/api/v2/cn-devguide/content/section_pagination.html">Pagination 
                    of Requests</link>
                in the <citetitle>Cloud Networks API Developer Guide</citetitle>.</para>
        </wadl:doc>
        <!-- i commented out request because no body required -->
        <!--<request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="../common/samples/security-groups-get-req.json"/>
                </wadl:doc>
            </representation>
        </request>-->
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="../common/samples/security-groups-get-resp.json"/>
                </wadl:doc>
                <param name="security_group" style="plain" type="xsd:string" required="true" path="$.security_group">
                    <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"><para>Security group
                        object.</para></wadl:doc>
                </param>
                <param name="description" style="plain" type="xsd:string" required="true">
                    <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"><para>The security group
                            description.</para></wadl:doc>
                </param>
                <param name="id" style="plain" type="csapi:uuid" required="true" path="$.id">
                    <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"><para>The UUID for the security
                            group.</para></wadl:doc>
                </param>
                <param name="name" style="plain" type="xsd:string" required="true" path="$.name">
                    <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"><para>The security group
                        name.</para></wadl:doc>
                </param> &securityGroupRule; </representation>
        </response>&fault401;&fault404; </method>

    <!-- Delete Security Group -->
    <method name="DELETE" id="deleteSecGroup">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Delete Security Group">
            <para role="shortdesc">Deletes a Cloud Networks security group.</para>
            <para>This operation deletes a Cloud Networks security group and its associated security group rules, if a port
                is not associated with the security group. Otherwise, the delete operation fails.</para>
        </wadl:doc>
        <!--        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="../common/samples/security-groups-delete-req.json"/>
                </wadl:doc>
            </representation>
        </request>-->
        <response status="204">
            <!--            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="../common/samples/security-groups-delete-resp.json"/>
                </wadl:doc>
            </representation>-->
        </response>&fault401;&fault404; </method>

    <!-- List Security Groups by Servers -->
    <!-- <method name="GET" id="listSecGroupsByServer">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="List security groups by server">
            <para role="shortdesc">Lists a summary of all OpenStack Networking security groups for a specified server.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="../common/samples/rules-security-groups-list-get-req.json"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="200"> &securityGroupRule; <representation
                mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="../common/samples/rules-security-groups-list-get-resp.json"/>
                </wadl:doc>
            </representation>
        </response>
        <response status="401"
            xmlns="http://wadl.dev.java.net/2009/02">
            <representation mediaType="application/xml" element="secgr:unauthorized"/>
            <representation mediaType="application/json"/>
        </response>
    </method> -->

    <!-- List Security Group Rules -->
    <method name="GET" id="listSecGroupRules">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="List Security Group Rules">
            <para role="shortdesc">Lists a summary of all Cloud Networks security group rules that the specified tenant can
                access.</para>
            <para>The operation lists security group rules for the tenant, including the unique ID for each rule.</para>
        </wadl:doc>
        <!--        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="../common/samples/rules-security-groups-list-get-req.json"/>
                </wadl:doc>
            </representation>
        </request>-->
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="../common/samples/rules-security-groups-list-get-resp.json"/>
                </wadl:doc> &securityGroupRule; </representation>
        </response>&fault401; </method>

    <!-- Create Security Group Rule -->
    <method name="POST" id="createSecGroupRule">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Create Security Group Rule">
            <para role="shortdesc">Creates a Cloud Networks security group rule.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="../common/samples/security-groups-create-req.json"/>
                </wadl:doc>
                <param name="name" style="plain" type="xsd:string" required="true" path="$.name">
                    <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"><para>The security group
                        name.</para></wadl:doc>
                </param>
                <param name="description" style="plain" type="xsd:string" required="true" path="$.description">
                    <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"><para>The security group
                        description.</para></wadl:doc>
                </param>
                <param required="true" name="direction" style="plain" type="xsd:string" path="$.direction">
                    <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">The direction in which the security group
                        rule is applied (either <code>ingress</code> or <code>egress</code>). For a Cloud Servers instance,
                        an ingress security group rule is applied to incoming (ingress) traffic for that instance. An egress
                        rule is applied to traffic leaving the instance.</wadl:doc>
                </param>
                <param required="true" name="security_group_id" style="plain" type="csapi:uuid" path="$.security_group_id">
                    <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">The security group ID to associate with
                        this security group rule.</wadl:doc>
                </param>
                <param required="false" name="port_range_min" style="plain" type="xsd:int" path="$.port_range_min">
                    <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">The minimum port number in the range that
                        is matched by the security group rule. If the protocol is <literal>TCP</literal> or
                            <literal>UDP</literal>, this value must be less than or equal to the value of the
                            <parameter>port_range_max</parameter> parameter. If the protocol is <literal>ICMP</literal>, this
                        value must be an <code>ICMP</code> type.</wadl:doc>
                </param>
                <param required="false" name="port_range_max" style="plain" type="xsd:int" path="$.port_range_max">
                    <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">The maximum port number in the range that
                        is matched by the security group rule. The <parameter>port_range_min</parameter> parameter constrains
                        this parameter. If the protocol is <literal>ICMP</literal>, this value must be an <code>ICMP</code>
                        type.</wadl:doc>
                </param>
                <param required="false" name="protocol" style="plain" type="xsd:string" path="$.protocol">
                    <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">The protocol that is matched by the
                        security group rule. Valid values are <code>null</code>, <code>tcp</code>, <code>udp</code>, and
                            <code>icmp</code>.</wadl:doc>
                </param>
                <param required="false" name="remote_group_id" style="plain" type="csapi:uuid" path="$.remote_group_id">
                    <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">The remote group ID to be associated with
                        this security group rule. You can specify either <parameter>remote_group_id</parameter> or
                            <parameter>remote_ip_prefix</parameter> in the request body.</wadl:doc>
                </param>
                <param required="false" name="remote_ip_prefix" style="plain" type="csapi:uuid" path="$.remote_ip_prefix">
                    <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">The remote IP prefix to be associated with
                        this security group rule. You can specify either <parameter>remote_group_id</parameter> or
                            <parameter>remote_ip_prefix</parameter> in the request body. This parameter matches the specified
                        IP prefix as the source IP address of the IP packet.</wadl:doc>
                </param>
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="../common/samples/security-groups-create-resp.json"/>
                </wadl:doc>
                <param name="security_group" style="plain" type="xsd:string" required="true" path="$.security_group">
                    <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"><para>Security group
                        object.</para></wadl:doc>
                </param>
                <param name="description" style="plain" type="xsd:string" required="true" path="$.description">
                    <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"><para>The security group
                            description.</para></wadl:doc>
                </param>
                <param name="id" style="plain" type="csapi:uuid" required="true" path="$.id">
                    <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"><para>The UUID for the security
                            group.</para></wadl:doc>
                </param>
                <param name="name" style="plain" type="xsd:string" required="true" path="$.name">
                    <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"><para>The security group
                        name.</para></wadl:doc>
                </param> &securityGroupRule; </representation>
        </response> &fault400;&fault401;&fault404;&fault409; </method>

    <!-- Show Security Group Rule -->
    <method name="GET" id="showSecGroupRule">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Show Security Group Rule">
            <para role="shortdesc">Shows detailed information for the specified security group rule.</para>
            <para>This operation shows information about the security group rule.</para>
        </wadl:doc>
        <!--        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="../common/samples/rules-security-groups-get-req.json"/>
                </wadl:doc>
            </representation>
        </request>-->
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="../common/samples/rules-security-groups-get-resp.json"/>
                </wadl:doc> &securityGroupRule; </representation>
        </response>&fault401;&fault404; </method>

    <!-- Delete Security Group Rule -->
    <method name="DELETE" id="deleteSecGroupRule">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Delete Security Group Rule">
            <para role="shortdesc">Deletes the specified rule from a Cloud Networks security group.</para>
        </wadl:doc>
        <!--        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="../common/samples/rules-security-groups-delete-req.json"/>
                </wadl:doc>
            </representation>
        </request>-->
        <response status="204">
            <!--            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="../common/samples/rules-security-groups-delete-resp.json"/>
                </wadl:doc>
            </representation>-->
        </response>&fault401;&fault404; </method>
</application>
