src/wadl/subnets.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2013-2014 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entites with xmllint          -->
<!--                                                       -->
<!--        xmllint -noent os-subnets.wadl                 -->
<!--*******************************************************-->
<!DOCTYPE application [<!ENTITY % common  SYSTEM "../common/common.ent">
%common;]>
<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:linkend="http://www.w3.org/1999/linkend"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wadl="http://wadl.dev.java.net/2009/02" xmlns:csapi="http://docs.openstack.org/compute/api/v1.1">
    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->
    <resources base="https://neutron.example.com/" xml:id="os-subnets-v2">
        <resource id="version" path="v2.0/">
            <resource id="Subnets" path="subnets">
                <method href="#listSubnets"/>
                <method href="#createSubnet"/>
                <method href="#bulkCreateSubnet"/>
                <resource path="{subnet_id}" id="subnetID">
                    <param name="subnet_id" style="template" type="csapi:UUID">
                        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Subnet ID">
                            <para>The UUID for the subnet.</para>
                        </wadl:doc>
                    </param>
                    <method href="#showSubnet"/>
                    <method href="#updateSubnet"/>
                    <method href="#removeSubnet"/>
                </resource>
            </resource>
        </resource>
    </resources>
    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->

    <!--List Subnets-->
    <method name="GET" id="listSubnets">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List Subnets">
            <para role="shortdesc">Lists subnets to which the specified tenant has access.</para>
            <para>This operations lists the subnets owned by the tenant submitting the request. You can control which
                attributes are returned by using the <parameter>fields</parameter> query
                parameter<!--, and you can specify how many results to return per page.
                For information, see
                <link xlink:href="http://docs.rackspace.com/networks/api/v2/cn-devguide/content/section_filtering.html">Filtering 
                    Requests</link>
                or
                <link xlink:href="http://docs.rackspace.com/networks/api/v2/cn-devguide/content/section_pagination.html">Pagination 
                    of Requests</link>
                in the <citetitle>Cloud Networks API Developer Guide</citetitle>.--></para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../common/samples/subnets-get-resp.json"/>
                </wadl:doc>&subnetListParameters; </representation>
            <!--<representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../common/samples/subnets-get-resp.xml"/>
                </wadl:doc>
            </representation>-->
        </response> &fault401; </method>

    <!--Create Subnet-->
    <method name="POST" id="createSubnet">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Create Subnet">
            <para role="shortdesc">Creates a subnet on a specified network.</para>
            <para>This opperation creates subnets on the specified network. You cannot create subnets on PublicNet and
                ServiceNet. Only one IPv4 subnet and one IPv6 subnet are permitted per network.</para>
            <para>If the <parameter>gateway_ip</parameter> parameter is not specified, it is set to
                <literal>null</literal>.</para>
            <para>If the <parameter>allocation_pools</parameter> parameter is not specified, Cloud Networks automatically
                allocates pools for covering all IP addresses in the CIDR, excluding the address reserved for the subnet
                gateway. Otherwise, you can explicitly specify allocation pools as shown in the following example.</para>
            <warning>
                <para>When you specify both the <parameter>allocation_pools</parameter> and <parameter>gateway_ip</parameter>
                    parameters, you must ensure that the gateway IP does not overlap with the specified allocation pools;
                    otherwise a <errorcode>409 Conflict</errorcode> error occurs.</para>
            </warning>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../common/samples/subnets-create-req.json"/>
                </wadl:doc>&subnetCreateParameters; </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
                    title="Create Subnet with host routes: JSON request">
                    <xsdxt:code href="../common/samples/subnets-create-route-req.json"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
                    title="Create Subnet with allocation pools and gateway IP: JSON request">
                    <xsdxt:code href="../common/samples/subnets-create-pools-req.json"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../common/samples/subnets-create-resp.json"/>
                </wadl:doc>&subnetCreateRspParameters;</representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
                    title="Create Subnet with host routes: JSON response">
                    <xsdxt:code href="../common/samples/subnets-create-route-resp.json"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
                    title="Create Subnet with allocation pools and gateway IP: JSON response">
                    <xsdxt:code href="../common/samples/subnets-create-pools-resp.json"/>
                </wadl:doc>
            </representation>
        </response> &fault400; &fault401; &fault403; &fault404; &fault409conflict; </method>

    <!--Create Bulk (Multiple) Subnets-->
    <method name="POST" id="bulkCreateSubnet">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Bulk Create Subnet">
            <para role="shortdesc">Creates multiple subnets in a single request. Specify a list of subnets in the request
                body.</para>
            <para>This operation allows you to create multiple subnets with one command. Bulk create operations are always
                atomic, meaning that either all or no subnets in the request body are created.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../common/samples/subnets-post-create-bulk-req.json"/>
                </wadl:doc>&subnetCreateParameters;</representation>
            <!--<representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../common/samples/subnets-post-create-bulk-req.xml"/>
                </wadl:doc>
            </representation>-->
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../common/samples/subnets-create-bulk-resp.json"/>
                </wadl:doc>&subnetListParameters;</representation>
            <!--<representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../common/samples/subnets-create-bulk-resp.xml"/>
                </wadl:doc>
            </representation>-->
        </response> &fault400; &fault401; &fault403; &fault404; &fault409conflict; </method>

    <!--Show Subnet-->
    <method name="GET" id="showSubnet">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Show Subnet">
            <para role="shortdesc">Shows information for a specified subnet.</para>
            <para>This operation displays details about a subnet. You can control which attributes are returned by using the
                    <parameter>fields</parameter> query parameter. For information, see
                <link xlink:href="http://docs.rackspace.com/networks/api/v2/cn-devguide/content/section_filtering.html">Filtering 
                    Requests</link>
                in the <citetitle>Cloud Networks API Developer Guide</citetitle>.</para>
        </wadl:doc>
        <response status="201">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../common/samples/subnet-show-resp.json"/>
                </wadl:doc>&subnetCreateRspParameters;</representation>
            <!--<representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../common/samples/subnet-show-resp.xml"/>
                </wadl:doc>
            </representation>-->
        </response> &fault401; &fault404; </method>

    <!--Update Subnet-->
    <method name="PUT" id="updateSubnet">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Update Subnet">
            <para role="shortdesc">Updates a specified subnet.</para>
            <para>This operation updates a specified subnet.</para>
            <para>Limitations exist on updating the following parameters: </para>
            <para>IP version (<parameter>ip_version</parameter>), network ID (<parameter>network_id</parameter>), and CIDR
                    (<parameter>cidr</parameter>) cannot be updated. Attempting to update these parameters results in a
                    <errorcode>400 Bad Request</errorcode> error.</para>
            <para>Users cannot update allocation pools that are attached to a port.</para>            
            <warning><para>If any attributes are updated, the changes will only take effect for ports or Cloud Servers using this
                subnet that are created after this modification. Any existing ports or Cloud Servers will not be
                updated.</para></warning>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../common/samples/subnet-post-req.json"/>
                </wadl:doc>&subnetUpdateParameters; </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../common/samples/subnet-post-resp.json"/>
                </wadl:doc>&subnetUpdateRspParameters;</representation>
        </response> &fault400; &fault401; &fault403; &fault404; </method>

    <!--Remove Subnet-->
    <method name="DELETE" id="removeSubnet">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Delete Subnet">
            <para role="shortdesc">Deletes a specified subnet.</para>
            <para>This operation fails if the subnet IP addresses are still allocated.</para>
        </wadl:doc>
        <response status="204">
            <representation mediaType="application/json"/>
        </response> &fault401; &fault404; &fault409conflict; </method>
</application>
